@import './variables.scss';

.cards-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.not-curr-item {
  display: none;
}

.carousel-arrow {
  margin: 20px;
  cursor: pointer;

  &, &:focus {
    color: $theme-color;
  }

  &:active {
    color: $theme-blue-color !important;
  }
}

.carousel-dots {
  flex: 0 1 100%;

  display: flex;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 2px;

  background-color: $theme-color;
  border-radius: 50%;

  &, &:focus {
    color: $theme-color;
  }

  &:active {
    color: $theme-blue-color !important;
  }
}