@import './variables.scss';

.cards-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  background-color: aqua;
}

.not-curr-item {
  display: none;
}

.carousel-arrow {
  margin: 20px;
  cursor: pointer;

  &, &:focus {
    color: $theme-color;
  }

  &:active {
    color: $theme-blue-color !important;
  }

  &-left {

  }

  &-right {

  }
}