@import './variables.scss';

.forecast {
    &-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 250px;
        width: 270px;
        padding: 20px 0;
    
        background: $cards-bg !important;  
    }
}