@import './fonts.scss';
@import './variables.scss';
@import './media.scss';
@import './searchBar.scss';
@import './weather.scss';
@import './weatherChart.scss';
@import './cardsCarousel.scss';


//********************* COMMON STYLES *********************

body {
  box-sizing: border-box;
  font-family: 'Quicksand';

  background: url(../backgrounds/sky.png) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-bottom: 50px !important;

  font-weight: 400;
  text-align: center;
  color: $theme-color;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  margin: 0 auto;
}

.justify-content-center {
  justify-content: center;
}

.theme-text-color {
  color: $theme-color;
}

.f-w-600 {
  font-weight: 600;
}

.h200-w250 {
  height: 200px;
  width: 250px;
}

.m-0 {
  margin: 0 !important;
}

.w-150 {
  width: 150px;
}

.weather-forecast-wrap {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;

  width: 80%;
  margin: 20px 0;
}

.current-location {
  color: $theme-color;
}

.today-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.today-forecast, 
.hourly-chart-wrap {
  margin-bottom: 50px;
}

/*----------------- Materialaze CSS modified styles --------------------*/
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: $theme-color;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: rgba(0, 0, 0, 0.38);
}

.switch label .lever:after {
  background-color: $theme-color;
}

.row {
  margin: 20px;
}

.card-content {
  padding: 0 !important;
  width: 80%;
}

.card-title {
  margin: 0;
}

.card .card-title {
  font-weight: 600;
}

[type=checkbox]:checked + span:not(.lever):before {
  border-right: 2px solid $theme-color;
  border-bottom: 2px solid $theme-color;
}

[type=checkbox] + span:not(.lever):before {
  border: 2px solid $theme-color;
}

.row .col.s12 {
  display: flex;
  justify-content: center;
}