@import './fonts.scss';
@import './variables.scss';
@import './media.scss';
@import './searchBar.scss';
@import './weather.scss';

//********************* COMMON STYLES *********************

body {
  box-sizing: border-box;
  font-family: 'Quicksand';

  background: url(../backgrounds/sky.png) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-bottom: 50px !important;

  font-weight: 400;
  text-align: center;
  color: $theme-color;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  margin: 0 auto;
}

.justify-content-center {
  justify-content: center;
}


.f-w-600 {
  font-weight: 600;
}

.weather-forecast-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;

  width: 80%;
  margin: 20px 0;
}