@media screen and (max-width: 500px) {
  .search {
    &-wrap {
      flex-wrap: wrap;
    }

    &-line-wrap {
      width: 100% !important;
    }

    &-btn {
      margin-bottom: 20px;
      order: -1;
    }
  }

  .weather {
    &-forecast-wrap {
      top: 150px;
    }

    &-togglers {
      top: 170px;
    }
  }
  
  .hourly-chart {
    &-wrap {
      width: 95% !important;
    }
  }
}

@media screen and (min-width: 500px) {
  .weather {
    &-forecast-wrap {
      top: 50px;
    }

    &-togglers {
      top: 74px;
    }
  }
}


@media screen and (max-width: 1000px) {
  .weather {
    &-forecast-wrap {
      width: 100% !important;
    }
  }
}
