@media screen and (max-width: 500px) {
  .search {
    &-wrap {
      flex-wrap: wrap;
    }

    &-line-wrap {
      width: 100% !important;
    }

    &-btn {
      margin-bottom: 20px;
      order: -1;
    }
  }

  .weather {
    &-cards-wrap {
      top: 160px;
    }
  }
}

@media screen and (min-width: 500px) {

  .weather {
    &-cards-wrap {
      top: 74px;
    }
  }
}


@media screen and (max-width: 1000px) {
  .weather {
    &-wrap {
      width: 100%;
    }
  }
}