@import './variables.scss';

//********************* SEARCH INPUT *********************

.search-wrap {
  display: flex;
  width: 70%;
  position: absolute;
  top: 0;
  z-index: 999;
}

.search-line-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
}


.search-input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;

  width: 100%;
  padding: 15px;

  background: #FEE8EE;
}

#search {
  flex-grow: 1;
  margin: 0;
  border-bottom: none;

  background-color: transparent;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 18px;
  -webkit-appearance: none;

  &, 
  &::placeholder {
    color: $theme-color;
  }

  &, 
  &:focus {
    border-bottom: none !important;
    box-shadow: none!important;
  }
}

//********************* SEARCH RESULTS UL *********************

.search-results {
  &-wrap {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;

    width: 100%;
    max-height: 350px;
    margin: 0;
    padding-top: 0 !important;

    border-top: 1px solid $theme-lighter-color;

    overflow: auto;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  
    padding: 15px;
  
    color: $theme-color;
    background-color: #FEE8EE;
    border-bottom: 1px solid $theme-lighter-color;
    cursor: pointer;

    & .spinner-icon {
      margin: 0;
    }

    &:last-child {
      border: none;
    }
  }
}

.active {
  display: flex;
}

//********************* SEARCH ICONS  *********************

.location-dot-icon {
  margin-right: 15px;
}

.search-icon {
  padding-right: 10px;
  cursor: pointer;
}

.location-dot-icon,
.search-icon,
.spinner-icon {
  color: $theme-color;
}

.spinner-icon {
  margin-top: 30px;
}

//********************* SEARCH BTN *********************
.search-btn {
  flex-grow: 1;
  padding: 15px; 
  height: 74px;

  color: #fff; 
  border: none;
  box-shadow: 0 1px 0 $theme-color;
  font-size: large;

  cursor: pointer;

  &, &:focus {
    background-color: $theme-color;
  }

  &:active {
    background-color: #9b779a !important;
    box-shadow: 0 1px 0 #9b779a;
  }
}

.search-input-wrap {
  box-shadow: 0 1px 0 #FEE8EE;
}
