@import './fonts.scss';
@import './variables.scss';
@import './media.scss';

//********************* COMMON STYLES *********************

body {
  height: 100vh;

  box-sizing: border-box;
  font-family: 'Quicksand';

  background: url(../backgrounds/sky.png) no-repeat center center;
  background-size: cover;
}

h1 {
  font-weight: 400;
  text-align: center;
  color: $theme-color;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  margin: 0 auto;
}

//********************* SEARCH INPUT *********************

.search-line-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.search-wrap {
  display: flex;
  width: 100%;
}

.search-input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;

  width: 100%;
  padding: 15px;

  background-color: #FEE8EE;
}

#search {
  flex-grow: 1;
  margin: 0;
  border-bottom: none;

  background-color: transparent;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  -webkit-appearance: none;
}

#search::placeholder {
  color: $theme-color;
}

#search,
#search:focus {
  border-bottom: none !important;
  box-shadow: none!important;
}

//********************* SEARCH RESULTS UL *********************

.search-results-wrap {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;

  width: 100%;
  max-height: 350px;
  margin: 0;
  padding-top: 0 !important;

  border-bottom: 1px solid #bdb7b7;

  overflow: auto;
}

.active {
  display: flex;
}

.search-results-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  padding: 15px;

  background-color: #FEE8EE;
  border-bottom: 1px solid #bdb7b7;
  cursor: pointer;
}

.search-results-item:last-child {
  border: none;
}

.search-results-item:first-child {
  border-top: 1px solid #bdb7b7;
}


//********************* SEARCH ICONS  *********************

.location-dot-icon {
  margin-right: 15px;
  color: $theme-color;
}

.search-icon {
  padding-right: 10px;
  color: $theme-color;
  cursor: pointer;
}

//********************* SEARCH BTN *********************
.search-btn {
  flex-grow: 1;
  padding: 15px; 
  height: 74px;

  color: #fff; 
  border: none;
  font-size: large;

  cursor: pointer;
}

.search-btn,
.search-btn:focus {
  background-color: $theme-color;
}

.search-btn:active {
  background-color: #9b779a !important;
}


.search-btn {
  box-shadow: 0 1px 0 $theme-color;
}

.search-input-wrap {
  box-shadow: 0 1px 0 #FEE8EE;
}
