@import './fonts.scss';

body {
  background-color: rgb(194, 199, 199);
  font-family: 'Quicksand';
}

h1 {
  font-weight: 400;
  text-align: center;
  color: rgb(109, 83, 204);
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  margin: 0 auto;
}

.search-city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

.seach-line,
.search-btn {
  margin-bottom: 10px;
}

.search-input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  padding: 15px;

  // border: 1px solid #1B5E20;
  border-bottom: 1px solid #bdb7b7;

  background-color: #fff;
}



#search {
  flex-grow: 1;
  margin: 0;
  border-bottom: none;

  background-color: transparent;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  -webkit-appearance: none;
}

#search,
#search:focus {
  outline: none;
  transition: none !important;
  border-bottom: none !important;
}

.search-results-wrap {
  display: none;
  flex-direction: column;
  align-items: flex-start;

  width: 80%;
  max-height: 350px;
  margin: 0;
  padding-top: 0 !important;

  border-bottom: 1px solid #bdb7b7;

  background-color: #fff;
  overflow: auto;
}

.active {
  display: flex;
}

.search-results-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  padding: 15px;

  border-bottom: 1px solid #bdb7b7;
  cursor: pointer;
}

.location-dot-icon {
  margin-right: 15px;
  color: #ccc;
}

.search-icon {
  padding-right: 10px;
  color: #ec3c3c;
  cursor: pointer;
}