@import './variables.scss';

.hourly-chart {
  width: 100%;
  height: 80%;

  &-wrap {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 20px 30px;
    width: 400px;
    height: 200px;

    border-radius: 10px;
    background: $cards-bg !important; 
    color: $theme-color;
  }

  &-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 5px;
  
    border-radius: 10px;
    background: rgba(243, 148, 186, 0.7);
    color: $theme-color;
    font-size: 12;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}