@import './variables.scss';

/*----------------- Forecast & weather --------------------*/
.forecast,
.weather {
  &-cards-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: $cards-bg !important; 
  }

  &-card,
  &-cards-wrap {
    border-radius: 10px;
    color: $theme-color;
  }
  
  &-card-measure {
    margin-left: 5px;
  }
}

.today-weather-title {
  margin: 0;
  margin-top: 20px;

  text-align: center;
  color: $theme-color;
}

.weather-forecast-loader {
  position: relative;
  top: 50px;
}

/*----------------- Weather --------------------*/

.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  position: relative;
}

.weather {  
  &-card {
    justify-content: space-between;

    height: 200px;
    width: 250px;
    padding: 20px 0;   

    &-content {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    
    &-opts {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0;
    }

    &-temperature {
      font-size: 90px;
    }
  }

  &-icon {
    flex: 0 1 100%;
    order: -1;
    margin-bottom: 0;

    height: 200px;

    background: transparent !important;
  }

  &-togglers {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
  }

  &-measure-toggler {
    margin: 30px !important;
  
    & label {
      color: $theme-color !important;
      font-size: 1em;
    }
  }
}

.wind-direction {
  margin-bottom: 10px;
}

/*----------------- Forecast --------------------*/
.forecast {
  &-card {
    justify-content: center;

    height: 180px;
    width: 150px;
    padding-bottom: 10px;  
  }
  &-cards-wrap .row {
    margin: 20px;
}
}


.weekly-forecast-title {
  flex: 0 1 100%;

  color: $theme-color;
  text-align: center;
}
